<header>
  <h1>
    {{#link-to "index"}}buyacaramba{{/link-to}}
  </h1>
  <nav>
    {{#link-to "auth"}}Log in{{/link-to}}
    {{#link-to "posts.new"}}New Post{{/link-to}}
  </nav>
</header>
<section class="main-content">
  {{outlet}}
</section>